<h1></h1>
<ul class="list-group story-list">
  <li class="list-group-item">
    <span class="badge">21</span>
    <a ng-href="http://www.reddit.com/r/nba/comments/2zezcp/tim_duncan_with_his_14513th_rebound_passes_kevin/" target="_blank">Tim Duncan</a>
    <a ng-href="http://www.reddit.com/r/nba/comments/2zezcp/tim_duncan_with_his_14513th_rebound_passes_kevin/" target="_blank" class="right">Comment</a>
  </li>
</ul>